 #Naslov{
	font-family: Comic, sanserif;
	font-size: 45px;
	font-weight: bold;
	color: darkgreen;
	text-align: left;
}
 #P1{
	font-family: Comic, sanserif;
	font-size: 20px;
	color: orange;
	text-align: left;
			
}
 #P2{
	font-family: Comic, sanserif;
	font-size: 20px;
	color: darkorange;
	text-align: left;
			
}
 #P3{
	font-family: Comic, sanserif;
	font-size: 20px;
	color: red;
	text-align: left;
			
}
 #P4{
	font-family: Comic, sanserif;
	font-size: 20px;
	color: darkred;
	text-align: left;
			
}
 #P5{
	font-family: Comic, sanserif;
	font-size: 20px;
	font-weight: normal;
	color: green;
	text-align: left;
			
}
 #P6{
	font-family: Comic, sanserif;
	font-size: 20px;
	font-weight: normal;
	color: darkgreen;
	text-align: left;
			
}
 #P7, #P8, #P9, #P14, #P15{
	font-family: Comic, sanserif;
	font-size: 30px;
	color: black;
	font-weight: bold;
	text-align: center;
					
} 
 #P10{
	font-family: Comic, sanserif;
	font-size: 20px;
	color: violet;
	text-align: left;
			
}
 #P11{
	font-family: Comic, sanserif;
	font-size: 20px;
	color: darkviolet;
	text-align: left;
			
}
 #P12{
	font-family: Comic, sanserif;
	font-size: 20px;
	color: blue;
	text-align: left;
			
}
 #P13{
	font-family: Comic, sanserif;
	font-size: 20px;
	color: darkblue;
	text-align: left;
			
}
span{font-style: italic;
}
/* Htela sam poslednja 2 reda da budu velika slova, i Refren da bude pink ali ne znam kako*/
#P15:nth-child(3){
	text-transform: uppercase;
}
