element.style {
	cursor: pointer;
	text-decoration: none;
}	
body{
	background-color: #f5f4f2;
	}
nav{
	display: inline-block;
	float: right;
	font-style: Arial, sans-serif;
	list-style: none;
	margin-right: 5%;
	position:relative;
}
nav li {
	display: inline-block;
	margin: 1% 3%;
	text-decoration: none;
}
#logo {
    max-width: 50px;
    height: auto;
}
h1 {
	color: #e700ff;
	font-family: Comic, Tahoma, serif;
	font-size: 20px;
	text-decoration: none;
	float:left;
}
form {
	object-position: right;
	float: left;
}
#meni{
	background-color: violet;
	width: 75%;
	height: 100px;
	margin-left: 10%;
	margin-right: 10%;
	text-decoration: none;
}

#meni li{
	display: inline-block;
	font-weight: bold;
	color: white;
	float: left;
	list-style: none;
	margin: 1% 3%;
	text-decoration: none !important;
	padding: 5px;
	
}
element.style {
	cursor: pointer;
	text-decoration: none;
}

#glavna {
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
}
p {
	font-family: Arial, sans-serif
	font-size: 20px;
	font-color: white !important;
	margin-top: -20% !important;
	text-align: left;
	position: relative;
	text-decoration: none;
	float: left;
}
h3 {
	font-size: 25px;
	color: white !important;
	margin-top: -15% !important;
	text-align: left;
	text-decoration: none;

}
hr{
	size: 5px;
	position: absolute;
	color: white;
	width: 70%;
	align-content: center;

}
.clear {
	clear:both;
}
